.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px, 20px, 200px;
    gap: 16px;
    justify-items: center;
    align-items: center;
    
}

.indicator::before {
    content: '⬇️';
    display: inline-block;
}

.indicator-cell {
    width: 200;
    height: 20px;
}